@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: black;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.22em;
}

h2 {
  font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 2.5;
}

h1 {
  font-size: 3.2rem;
}

@media (min-width: 400px) {
  h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 2rem !important;
    line-height: 3.5;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 2rem !important;
    line-height: 6;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.2rem !important;
    line-height: 1.5;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 2.2rem !important;
    line-height: 2;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 3rem !important;
    line-height: 2;
  }
}

@media (min-width: 1800px) {
  h1 {
    font-size: 3rem !important;
    line-height: 1.5;
  }
}

@media (min-width: 2000px) {
  h1 {
    font-size: 3rem !important;
    line-height: 2.5;
  }
}

@media (max-width: 400px) {
  h1 {
    line-height: 1;
  }
}

/* ===== TOP HERO ===== */
.top-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

@media (max-width: 767px) {
  .top-hero {
    height: 60%;
  }
}

@media (min-width: 1024px) {
  .top-hero {
    height: 100vh;
  }
}

.top-hero .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -998;
}

.top-hero .video-background .video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

@media (max-width: 767px) {
  .top-hero .video-background .video-foreground {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -100%;
    bottom: 0;
  }
}

@media (max-width: 1424px) {
  .top-hero .video-background .video-foreground {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -100%;
    bottom: 0;
  }
}

.top-hero .video-background .video-foreground .video-ratio-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .top-hero .video-background .video-foreground .video-ratio-wrapper {
    width: 180%;
    height: 0%;
    padding-bottom: 100%;
    position: relative;
  }
}

@media (max-width: 1424px) {
  .top-hero .video-background .video-foreground .video-ratio-wrapper {
    width: 180%;
    height: 0%;
    padding-bottom: 100%;
    position: relative;
  }
}

.top-hero .video-background .video-foreground .video-ratio-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.top-hero .video-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgb(1, 0, 0));
}

.top-hero .top-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-hero .top-hero-content .logo {
  margin-bottom: 4rem;
}

.top-hero .top-hero-content img {
  max-width: 100%;
}

@media (max-width: 1999px) {
  .top-hero .top-hero-content img {
    max-width: 24rem;
  }
}

@media (max-width: 1999px) and (max-width: 500px) {
  .top-hero .top-hero-content img {
    margin-top: 5rem;
    max-width: 14rem;
  }
}

.top-hero .top-hero-content p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.top-hero .top-hero-content .wishlist-btn {
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.top-hero .top-hero-content .wishlist-btn:hover {
  background-color: #555;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  color: #fff;
  z-index: 999900;
}

.social-media {
  margin: auto;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* ===== BUTTON ===== */
.btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: light;
  letter-spacing: 0.22em;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 2rem;
  color: #fff;
  z-index: 100;
}

a.animated-button.thar-two {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border-radius: 0;
  border: 2px solid #fff;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  padding: 0.85rem 1rem;
  font-size: large;
  width: 170px;
}

a.animated-button.thar-two:hover {
  color: #000 !important;
  background-color: transparent;
}

a.animated-button.thar-two:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}

a.animated-button.thar-two:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #fff;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* ===== DOWN ARROW ===== */
@keyframes pulsing {
  0% {
    transform: scale(1);
    transform: translateY(-10px);
  }
  50% {
    transform: scale(2.4);
    transform: translateY(10px);
  }
  100% {
    transform: scale(1);
    transform: translateY(-10px);
  }
}

.top-hero__button-wrapper {
  position: absolute;
  bottom: 1rem;
  animation: pulsing 2s ease-in-out infinite;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-hero__button-wrapper a {
  text-align: center;
}

@media (max-width: 500px) {
  .top-hero__button-wrapper {
    display: none;
  }
}

.top-hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.top-hero__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-hero__button svg {
  width: 70%;
  height: auto;
  fill: #fff;
}

/* ===== ABOUT SECTION ===== */
.aboutSection {
  width: 90%;
  max-width: 70em;
  padding: 4rem 5% 0;
  margin: 0 auto;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  transition: border 2s cubic-bezier(0.28, 0.16, 0.42, 0.99);
  color: #fff;
}

/* ===== SECTION ===== */
.section {
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
}

/* ===== EDGE IMAGES ===== */
.edgeImage {
  width: 100%;
  height: 20rem;
  filter: brightness(0) invert(0) sepia() hue-rotate(100deg) saturate(0%);
  position: absolute;
  z-index: 99;
  margin-top: -20rem;
}

.edgeImageRotate {
  width: 100%;
  height: 20rem;
  filter: brightness(0) invert(0) sepia() hue-rotate(100deg) saturate(0%);
  rotate: 180deg;
  position: absolute;
  z-index: 99;
}

/* ===== IMAGE WIDE (STEAM SECTION) ===== */
.imageWide {
  margin-top: -8rem;
  width: 100%;
  z-index: -99;
  height: 70rem;
  background-size: cover;
}

.imageWide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  z-index: 999;
}

/* ===== CONTAINER ===== */
.container {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  transition: border 2s cubic-bezier(0.28, 0.16, 0.42, 0.99);
  color: #fff;
}

/* ===== FOOTER ===== */
#footer {
  background-color: #000;
  padding: 60px 0;
}

#footer .container {
  text-align: center;
}

#footer h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 6.16px;
  color: #fff;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

#footer h3:hover {
  color: rgba(255, 255, 255, 0.8);
}

.copyright {
  font-size: 10px;
  color: #cdcadd;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.copyright p {
  color: rgba(255, 255, 255, 0.5);
}

.social-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s;
}

.social-links a:hover {
  color: #fff;
}

.social-links a svg {
  width: 20px;
  height: 20px;
}

/* ===== BACKGROUND HERO IMAGE ===== */
.bgHero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9991;
  object-fit: cover;
}

/* ===== FADE ANIMATIONS ===== */
.fade-in {
  animation: fade-in-animation 1s ease-in-out forwards;
  opacity: 0;
}

.fade-in-slow {
  animation: fade-in-animation 2s ease-in-out forwards;
  opacity: 0;
}

.fade-in-slower {
  animation: fade-in-animation 3s ease-in-out forwards;
  opacity: 0;
}

.fade-in-delay {
  animation: fade-in-animation 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ===== WISHLIST SVG ===== */
.wishlist {
  width: 293.5px;
  height: 88.5px;
}
